<mat-toolbar color="primary" class="menu-button">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened">close</mat-icon>
  </button>
  Hotel Menagement
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

    <button mat-button class="menu-button" routerLink="">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-button class="menu-button" routerLink="guests">
      <mat-icon>person</mat-icon>
      <span>{{ 'guest.title' | translate }}</span>
    </button>
    <button mat-button class="menu-button" routerLink="booking">
      <mat-icon>king_bed</mat-icon>
      <span>{{ 'booking.title' | translate }}</span>
    </button>
    <button mat-button class="menu-button" routerLink="room">
      <mat-icon>sensor_door</mat-icon>
      <span>{{ 'room.title' | translate }}</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


<app-footer></app-footer>
